# Project exclude paths
/springMVC-annotation/target/
/springMVC-demo1/target/
/springMVC-demo2/target/
/springMVC-demo3/target/
/springMVC-demo4/target/
/springMVC-demo5/target/
/springMVC-jsp/target/
/springMVC-rest/target/